{%extends "main_layout.html"%}
{% block content %}
<section class="container mb-5">
    <h3 class="text-center mt-3 mb-5">About</h1>
<p>
    <b>Diabetes</b> adalah salah satu penyakit kronis yang semakin meningkat jumlahnya di seluruh dunia, menjadi salah satu
    tantangan kesehatan masyarakat yang serius. Menurut data terbaru dari Organisasi Kesehatan Dunia (WHO), lebih dari 422
    juta orang di seluruh dunia menderita diabetes, dan angka ini diperkirakan akan terus bertambah seiring dengan perubahan
    gaya hidup dan pola makan. Penyakit ini tidak hanya berdampak pada individu yang mengalaminya, tetapi juga memberikan
    beban yang signifikan pada sistem kesehatan global.
</p>
<p>
    Kemajuan teknologi yang pesat, terutama dalam bidang machine learning dan cloud computing, telah membuka peluang yang
    luas untuk pengembangan sistem deteksi dini diabetes yang lebih cepat, efisien, dan akurat. Machine learning, dengan
    kemampuannya untuk menganalisis dan memproses data dalam jumlah besar, dapat memanfaatkan berbagai data kesehatan yang
    relevan, seperti kadar glukosa darah, usia, riwayat keluarga, dan tekanan darah. Dengan menganalisis pola dan tren dalam
    data tersebut, machine learning dapat memprediksi risiko diabetes secara lebih efektif.
</p>
<p>
    Selain itu, integrasi teknologi ini dengan cloud computing memberikan keuntungan tambahan, seperti memungkinkan akses
    yang lebih luas dan efisien bagi para profesional kesehatan dan pasien. Dengan sistem berbasis cloud, data kesehatan
    dapat diakses secara real-time, memungkinkan dokter untuk memantau kondisi pasien dari jarak jauh dan melakukan
    intervensi lebih awal jika diperlukan. Hal ini sangat penting, mengingat bahwa diagnosis dini diabetes dapat mencegah
    berbagai komplikasi serius yang sering terjadi, seperti penyakit jantung, kerusakan organ, dan masalah kesehatan lainnya
    yang dapat mengancam nyawa.
</p>
<p>
    Sayangnya, meskipun ada potensi besar untuk diagnosis dini melalui teknologi, banyak individu yang sering terlambat
    mendapatkan perawatan medis karena keterbatasan akses terhadap layanan kesehatan. Faktor-faktor seperti lokasi
    geografis, keterbatasan biaya, dan kurangnya pengetahuan tentang gejala diabetes dapat menghalangi seseorang untuk
    mendapatkan diagnosis dan pengobatan yang tepat waktu. Oleh karena itu, penting untuk mengembangkan solusi berbasis
    teknologi yang tidak hanya efektif dalam mendeteksi diabetes tetapi juga dapat diakses oleh semua kalangan masyarakat,
    tanpa memandang latar belakang ekonomi atau geografi.
</p>
<p>
    Dengan pendekatan yang holistik ini, kita dapat berharap untuk mengurangi prevalensi diabetes dan meningkatkan kualitas
    hidup individu yang terpengaruh oleh penyakit ini, sambil memanfaatkan kemajuan teknologi yang ada untuk menciptakan
    sistem kesehatan yang lebih responsif dan inklusif.
</p>
</section>
{% endblock %}