{%extends "main_layout_admin.html"%}
{% block content %}
<section class="">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">user_id</th>
                <th scope="col">username</th>
                <th scope="col">nama</th>
                <th scope="col">alamat</th>
                <th scope="col">tanggal<br>lahir</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% set index = 1 %}
            {% for data in users %}
            <tr>
                <td>{{ index }}</td>
                {% set index = index + 1 %}
                <td>{{data.user_id}}</td>
                <td>{{data.username}}</td>
                <td>{{data.nama}}</td>
                <td>{{data.alamat}}</td>
                <td>{{data.tanggal_lahir}}</td>
                <td>
                    
                    <a class="btn btn-warning me-2" href="/edit_user/{{data.user_id}}">edit</a>
                    <a class="btn btn-danger" href="/delete_user/{{data.user_id}}" onclick="return confirm('Yakin ingin menghapus?')">Delete</a>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}